@charset "utf-8";
.icon-circle{background-color: #c8c8c8;width: 10px;height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;margin-top: 6px;}
.icon-book-shadow,.icon-progress-shadow{width: 42px;height: 30px;margin-right: 3px;}
.icon-book-shadow {background-position: 0 -1051px;}
.btn-.icon-book-shadow {background-position: 0 -1051px;}
.icon-progress-shadow {background-position: 0 -1081px;}
.bdt1{border-top: solid #ededed 1px;}
/* box */
.box-pd10{padding:10px;}
.box-pd15{padding:15px;}
.box-pd20{padding:20px;}

.section{border-bottom:solid #dcdcdc 2px; background-color:#FFF;}

.row1{padding: 12px;}
.profile > .pull-left{width: 180px;margin-right: 15px}
.profile .media-object{width: 180px;}
.profile .media-body {line-height: 24px;}
.profile .media-body p{margin-bottom: 0}
.profile .media-heading{margin-bottom: 10px}
.profile .media-heading a.icon-circle-bg {text-align: center;margin-left: 10px;}
.profile .media-heading a.icon-circle-bg i{margin-top: 2px;}

.box1{width: 430px;}
.box1 .clearfix{font-size: 16px;line-height: 50px;margin: 35px 0 30px;}
.box1 .clearfix .pull-right{width: 212px;text-align: right;border-left: solid #e5e5e5 1px;}
.box1 .num{font-size: 24px;padding:0 8px;color: #4391bb}
.box1 .well{text-align: center;margin-bottom: 0}
.box1 .txt{padding: 0 25px;color: #989898;}

.thumbnails{margin-bottom: 0;}
.thumbnails>li{width: 320px;}
.thumbnails>li .moreCourse{border: solid #3c81a8 2px;background: #ffffff url("../images/moreCourse.png") no-repeat center 30%;padding-top: 225px;min-height: 77px;font-size: 16px;color: #7a7a7a;text-align: center;}
#list-series .moreCourse{height: 118px;padding-top: 300px;background-position: center 40%;}
.thumbnail>img{height: 140px;width: 100%;}
.thumbnail .hd2{padding: 18px 0;text-align: center;border-bottom: solid #ededed 1px;}
.thumbnail .hd2 span{padding: 0 16px;display: inline-block}
.thumbnail .hd2 span + span{border-left: solid #dcdcdc 1px;}
.thumbnail .hd2 span strong{display: block;font-size: 22px;line-height:30px;color: #7f7f7f;}
.thumbnail h3{font-size: 14px;line-height: 20px;margin: 2px 0;}
.thumbnail p,.thumbnail dl,.thumbnail .ft2{font-size: 12px;color: #999999;margin: 0}
.thumbnail .rating{margin-top: 5px;}
.thumbnail dl{margin-top: 15px;}
.thumbnail dt{color: #000000;float: left}
.thumbnail dd{overflow: hidden;min-height: 40px;}
.thumbnail .bd2{padding: 10px 20px;}
.thumbnail .ft2{padding: 12px;}
.thumbnail .ft2 .btn{font-size: 16px;padding: 17px 20px 1px 0;}
.thumbnail .ft2 div.pull-right{padding: 17px 10px 0;}
.thumbnail .ft2 div.pull-right strong{color: #888888}
.rating-view{display: inline-block;margin-right: 5px;}
.md {margin-top: 25px;overflow: hidden}
.md .hd h2,.md .navbar-inner,.md .navbar .nav li a{border-bottom:solid #dcdcdc 2px; background-color:#FFF;}
.md .hd h2,.md .navbar .nav li a{font-weight:normal;margin: 0;padding: 13px 20px;line-height: 20px;font-size: 16px;}
.md .navbar-inner{min-height: 46px;height: 46px;padding: 0;}
.md .navbar .nav li a{padding: 13px 20px;color: #000000}
.md .navbar .nav li a:hover{color: #4391bb}
.md .navbar .nav .active a,.md .navbar .nav .active a:hover{border-color: #acacac;background-color: #c8c8c8;color: #ffffff}
.md .bd{margin-top: 20px;}
.md .ft{text-align: center;margin-bottom: 15px;}
.md .ft a{color: #949494;}
.md .ft .icon-circle{margin-left: 5px;}

.carousel{margin: 0 20px;text-align: center;height: 290px;}
.carousel-l,.carousel-r,.carousel-mask,.carousel-inner,.carousel-btn{position: absolute;top: 0;height: 260px;}
.carousel-l{left: 0;}
.carousel-r{right: 0;}
.carousel-mask{background: url("../images/carousel-bg.png") no-repeat 0 0;width: 100%;left: 0;}
.carousel-btn,.carousel-inner>.item,.carousel-indicators li{cursor: pointer}
.carousel-btn{width: 187px;}
.carousel-btn.left{left: 0;}
.carousel-btn.right{right: 0;}
.carousel-inner{height: 258px;width: 584px;margin-left:-293px;left:50%;border: solid #ffffff 1px;}
.carousel-inner>.item>img,.carousel-l img,.carousel-r img{height: 258px;width: 584px;}
.carousel-indicators{top:280px;right: 50%;margin-right: -35px;}
.carousel-indicators li{background-color: #c9c9c9;background-color: rgba(0,0,0,0.25)}
.carousel-indicators .active{background-color: #4391bb;}