@charset "utf-8";
@import "pages.css";

.open .btn:focus{outline: 0;}

/* width */
.w760{width:760px;}
.w225{width:225px;}

/*timeLine*/
.timeLine{font-size: 0;}
.timeLine > a{width: 82px;display: inline-block;*margin-left:-1px;position: relative;margin-top: 1px;height:17px;background-color:#99c0d5;border-right: solid #e5e5e5 1px;border-top: solid #FFFFFF 6px;}
.timeLine > a.first{border-left: solid #e5e5e5 1px;}
.timeLine .num{font-size: 12px;color: #999;}
.timeLine a .num{position: absolute;right:-6px;top: -27px;}
.timeLine a.active{background-color:#397da1;}

/* box */
.pd10{padding:10px;}
.pd15{padding:15px;}
.pd20{padding:20px;}
.box-txt,.box-txt li{line-height:32px;}
.section,.page-header{border-bottom:solid #dcdcdc 2px;display:block; background-color:#FFF;}
.hd{position: relative;}
.hd .ab_r{position:absolute;right:0;top:20px;}
.hd .ab_l{position:absolute;left:0;top:20px;}
.page-body .pages{text-align: right;}

.page-header{position:relative;margin:0;padding:15px 20px;line-height:30px;height:30px;}
.page-header.affix{position: fixed;top: 60px;width: 720px;z-index: 3;}
.page-header.affix + .page-body{margin-top: 82px;}
.page-header .pos-r{position: absolute;right: 20px;top: 0;}
.page-header .pos-r .btn-link {line-height: 24px;margin-top: 19px;padding: 0;}
.page-header .pos-r .btn-link:focus{outline: 0;}
.page-header .pos-r .btn-link i{margin-right: 5px;}
.page-header .pos-r .btn-large{margin-top: 10px;}
.box-control{margin-top: 15px}
.box-control .hd{border-bottom: solid #e5e5e5 1px;padding: 15px 0;}
.box-control .hd .btn-toolbar{margin: 0 18px;position: relative;}
.box-control .btn-toolbar > label{display: inline-block;margin: 0;vertical-align: middle;}
.box-control .btn-toolbar > label.muted{padding: 10px;}
.box-control .hd .btn-toolbar .btn{margin-right: 5px;border: solid #e5e5e5 1px;background-color: #FFFFFF;}
.box-control .hd .btn-toolbar .btn-link{border: none;margin-right: 0;position: absolute;right: 0;top:1px;}
.box-control .hd .toolbar-search {display: inline-block;*display: inline;position: relative;margin-bottom:0; margin-left: 5px;}
.box-control .hd .toolbar-search .icon-search{position: absolute;right: 10px;top: 5px;*top:10px;}
.box-control .hd .toolbar-search .search{width: 160px;padding: 4px 30px 4px 10px;border: solid #e5e5e5 1px;margin-bottom: 0;background-color: #efefef}
.box-control .hd .btn-toolbar .showState{font-size: 14px;line-height: 20px;padding: 5px 15px;margin-right:20px;vertical-align: middle;}
.box-control .bd{overflow: hidden}
.box-control .bd .btn-toolbar{margin:10px;position: relative;}
.btns-radio{margin-right: 12px;}
.btns-radio .btn{border: solid #e5e5e5 1px;background-color: #FFFFFF;}
.btns-radio .active.btn{background-color: #4391bb;border-color:#4391bb;color: #fff;text-shadow: none; }
.btns-radio .btn + .btn{margin-left: 0;*margin-left: -1px;border-left: 0;}
.box-control .bd .btn-toolbar label.radio{   margin-right: 10px;}
.box-control .bd .btn-toolbar .pages{position: absolute;right: 0;
    top: 5px;}
.box-control .bd .btn-toolbar .pages .btn-group{float: left;}
.box-control .nav-tabs{border-bottom:solid #dcdcdc 2px;margin-bottom: 5px;}
.box-control .nav-tabs li{margin-bottom: -2px;}
.box-control .nav-tabs li a{padding:15px 24px;margin-right:0;color:#999999;border-right: solid #dcdcdc 1px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.box-control .nav-tabs li a:hover{}
.box-control .nav-tabs .active a{border-top-color:transparent;border-left:0;color: #000000}

.listTeacher{margin-top: 36px;}
.listTeacher .media>.pull-left{margin-top: -16px;width: 82px;padding-left: 15px;}
.listTeacher .media>.pull-left>a{display: block;text-align: center;}
.listTeacher .media>.pull-left>.face{padding-bottom: 10px;}
.listTeacher .media>.pull-left>.send{margin-top: 10px;line-height: 24px;color: #666666;}
.listTeacher .media>.pull-left>.send i{margin-right: 2px;}
.listTeacher .media-object{height: 70px;padding: 5px;}
.listTeacher .media{overflow: visible; margin-bottom: 24px;border: solid #ffffff 2px; border-bottom-color: #dcdcdc;background-color: #ffffff}
.media-list .media{cursor:pointer;}
.listTeacher .media .pull-left a:hover,.listTeacher .media-foot a:hover{color: #4391bb}
.listTeacher .media.active{border:solid #4391bb 2px;}
.listTeacher .media.active>.pull-left>.send .icon-msg{background-position: 0 -1224px}
.listTeacher .media-body{padding: 0 20px;}
.listTeacher .media-heading{line-height: 24px;padding:11px;margin: 20px 0;background-color: #f7f7f7;position: relative}
.listTeacher .media-heading .name{margin-right: 10px;}
.listTeacher .media-heading .right{position: absolute;right: 11px; }
.listTeacher .media-heading .right i{margin: 0 3px 0 10px;}
.listTeacher .media-body dt,.listTeacher .media-body dd{}
.listTeacher .media-body dt{float: left;margin-right: 5px;margin-bottom: 8px;color: #999999;font-weight: normal}
.listTeacher .media-body dd{color: #4391bb;}
.listTeacher .media-body dd:after{line-height:0;content:"";clear: both;display: table;}
.listTeacher .media-body .box{margin-bottom: 20px;}
.listTeacher .media-body .box .caret-group{position: absolute;left: 30px;bottom:0;}
.listTeacher .media-body .box .caret-group b{line-height:0;position: absolute;bottom:0;border-bottom: solid #ffffff 11px;border-left: solid transparent 12px;border-right: solid transparent 12px;}
.listTeacher .media-body .box .caret-group .caret0{border-bottom-color:#dddddd; }
.listTeacher .media-body .box .caret-group .caret1{bottom: -1px;}
.listTeacher .media-body .box .bd{border: solid #dddddd 1px;padding:20px 10px;background-color: #ffffff;}
.listTeacher .media-body .box .bd .time{color: #bbbbbb;font-size: 12px;}
.listTeacher .media-body .box .bd .time i{margin-right: 4px;}
.listTeacher .media-foot{border-top: solid #efefef 1px;color: #666666;position: relative;}
.listTeacher .media-foot a{color: #666666;}
.listTeacher .media-foot .statebar{padding: 15px 22px;}
.listTeacher .media-foot .statebar strong{font-weight: normal;color: #4391bb;}
.listTeacher .media-foot .isPass{text-align:center;color:#ffffff;position: absolute;right:-2px;top:0;width: 68px;padding:15px 0; background-color: #c1c1c1;border-bottom: solid #a6a6a6 2px;}
.listTeacher .media-foot .isPass.pass{background-color: #a7cfe4;border-bottom-color: #90b2c4;}
.listTeacher .media-foot .toolbar{text-align: center;color: #dddddd;padding: 13px 0;line-height: 22px;height: 24px;}
.listTeacher .media-foot em{font-style: normal;margin: 0 20px;}
#taskDetail .listTeacher{margin-top: 20px;}
#taskDetail .listTeacher .media-foot{border-top: none}
#taskDetail .listTeacher .media-foot .statebar{padding: 19px 22px;}
#taskDetail .listTeacher .media-foot .isPass{padding: 19px 0;}

.profile{padding: 22px;}
.profile .face{width: 181px;height: 181px;}
.profile h5{margin: 20px 0 0px;line-height: 24px;font-weight: normal}
.profile p{line-height: 25px;margin-bottom: 0;}

.navTeacher{}
.navTeacher.affix{top:60px;margin-top: 0;}
.navTeacher .hd{overflow:hidden;position:relative;}
.navTeacher h5{padding:10px 20px;}
.navTeacher .ab_r{right:20px;}
.navTeacher .listImg{padding:0 17px;padding-bottom:6px;}
.navTeacher .listImg > a{display:block;position:relative;margin-bottom:10px;}
.navTeacher .listImg > a > img{width:190px;height: 105px;max-width: 190px;}
.navTeacher .mask{background-color:#000; opacity:0.5; filter: alpha(opacity=50);position:absolute;height:30px;width:100%;left:0;bottom:0;}
.navTeacher .listImg .caption{position:absolute;left:0;bottom:0;height:30px;padding-left:20px;font-size:12px;}
.navTeacher a:hover .mask{background-color:rgb(67, 145, 187);opacity:1; filter: alpha(opacity=100);}
.navTeacher h6{margin:5px 0 0;font-size:14px;color:#fff;}

/*批改作业详情页*/
#affixRight.affix{top:40px;width: 225px;}
.nav-task{border: solid #4491bb 1px;padding:10px 10px 0;}
#navTask {margin-top: 10px;}
#navTask .num{display: inline-block;margin: 0 9px 16px 0;width: 18px;height: 18px;line-height:18px;font-family:Arial; color:#ffffff;text-align:center; border: solid #acacac 1px;background-color: #cdcdcd;}
#navTask .num.active{border-color: #4491bb;background-color: #99bbd7;position: relative;}
#navTask .num i{position: absolute;right: -6px;top: -6px;}

.dashed-t1{border-top: dashed #cdcdcd 1px;}
.taskAnswer{background-color: #f5f9fb;}
.taskDetail{border-top: none;padding: 0;margin-top: 20px;}
.taskDetail em{font-style: normal;font-size:12px;line-height:18px;padding: 0 10px;vertical-align: 1px;}
.taskDetail .hd{padding: 15px 20px 1px;margin-bottom:10px;border-bottom: dashed #cdcdcd 1px;}
.taskDetail .hd h2{color: #000000;font-size: 14px;line-height:30px;font-weight: normal;margin: 0 0 10px;}
.taskDetail .hd h2 .icon-state-bg{margin-right: 5px}
.taskDetail .hd p{font-size: 12px; }
.taskDetail form{margin-bottom: 0;}
.taskDetail .bd{margin: 10px;border: solid #e9e9e9 1px;}
.taskDetail .bd .intro{margin-bottom: 20px;}
.taskDetail .bd .box-score,.taskDetail .bd .box-comm{margin: 10px 0;}
.taskDetail .bd .box-score .blue{color: #4391bb;}
.taskDetail .bd .box-comm{border: solid #dddddd 1px;background-color:#f5f9fb;padding: 15px 10px;}
.taskDetail .bd .box-comm .time{font-size: 12px;color: #cccccc;margin-top: 10px;}
.taskDetail .bd .box-comm .time i{margin-right: 5px;}
.taskDetail .bd .ratingBox .clearfix label.error{padding-top:10px;}
.taskDetail .ft{text-align: center;margin: 20px 0;position: relative;}
.taskDetail .ft .scoreBar{background-color: #4491bb;padding: 10px 0;color: #ffffff;margin-bottom: 18px;}
.taskDetail .btn-link{position: absolute;right: 0;top: 5px;}
.taskDetail .btn-link .caret{border-bottom: solid #4491bb 8px;margin-left:6px;border-top: none;border-left-width: 7px;border-right-width: 7px;}
.taskDetail .hd .btn-link{top: 15px;}
.taskDetail .listExam{margin: 0 20px 20px;}
.taskDetail .listExam .examStem{font-weight: normal;padding: 20px 0;}
.taskDetail .listExam .examStem .line{padding: 2px 30px;border-bottom: solid #cccccc 1px;}
.taskDetail .listExam .examStem .line label{cursor: pointer;}
.taskDetail .listExam dd + .examStem{border-top: dashed #cdcdcd 1px;margin-top: 20px;}
.taskDetail .listExam dd{margin-left: 0;padding-bottom: 1px;}
.taskDetail .listExam dd label{margin-bottom: 12px;}
.taskDetail .listExam dd label.input{position: relative;margin-left: 12px;}
.taskDetail .listExam dd label.input .icon-circle-bg{position: absolute;left: -10px;top: 12px;}
.taskDetail .listExam dd label.input .input-xxlarge{padding: 11px 22px;width: 647px;}
.taskDetail .listExam dd label label.error{}
.taskDetail .attachList{margin: 0;}
.taskDetail .listExam dd .attachList{border: solid #e9e9e9 1px;margin-bottom: 20px;}
.taskDetail .attachList li{padding: 11px 0;position: relative;display: block;color: #666;}
.taskDetail .attachList li a{color: #666;}
.taskDetail .attachList li i{margin-right: 5px;}
.taskDetail .attachList li .pos-r{position: absolute;right: 30px;top: 10px;}
.taskDetail .attachList li .pos-r a{color: #999999;line-height: 24px;}
.taskDetail .attachList li .pos-r .icon-eye{vertical-align: -5px;}
.taskDetail .attachList li .pos-r em{color: #e6e6e6;padding: 0 5px;}
.taskDetail .md-media{margin: 0 -10px;border-bottom: dashed #cdcdcd 1px;}
.taskDetail .md-media .bd2{height: 510px;}
.taskDetail .md-media .ft2{padding: 16px 0;}
.taskDetail .md-media .ft2 .name{color: #666;}
.taskDetail .md-media .ft2 .pull-left{padding: 10px 0;}
.taskDetail .teacherRating{margin: 10px 0;}
.taskDetail .teacherRating .pull-left>a{display: block;}
.taskDetail .teacherRating .pull-left>a>img{width: 50px;height: 50px;margin: auto}
.taskDetail .teacherRating .pull-left>h3{margin:0;font-size: 12px;color: #666;font-weight: normal;}
.taskDetail .teacherRating .media-heading{margin-bottom: 10px;}
.taskDetail .teacherRating .media-body{line-height: 25px}
.taskDetail textarea{margin-top: 15px;}
