@charset "utf-8";
.webim_chat_list{font-size: 12px;overflow: hidden}
.webim_date{color: #bbbbbb;}
.webim_dia_face{width: 45px;height: 45px;display: block}
.webim_chat_item{border-top: solid #a1c8dd 1px;margin: 10px 0 20px;}
.webim_chat_item_hd{margin-top: -10px;line-height: 20px;text-align: center;}
.webim_chat_item_hd .webim_date {display: inline-block;background-color: #ffffff;padding: 0 10px;}
.webim_chat_item_bd{margin-top: 18px;overflow: hidden}
.webim_dia_box{*zoom: 1;margin-bottom: 40px;}
.webim_dia_box:before,.webim_dia_box:after{display: table;line-height: 0;content: ""}
.webim_dia_box:after{clear: both}
.webim_dia_l .dia_col{margin-left: 14px;float: left;_display: inline;}
.webim_dia_r .dia_col{margin-right: 14px;float: right;_display: inline;}
.webim_dia_bg .va_bottm{position: absolute;bottom: 0;width: 110px;}
.webim_dia_bg .va_bottm .webim_date,.webim_dia_bg .va_bottm .remove{display: inline-block}
.webim_dia_l .va_bottm{left:100%;}
.webim_dia_r .va_bottm{right:100%;}
.webim_dia_bg{width: auto;max-width:530px;background-color: #f6f6f6;border: solid #e8e8e8 1px;position: relative;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);}
.webim_dia_l .webim_dia_bg{background-color: #dfeaf0;border-color: #a1c8dd;}
.webim_dia_bg .dia_caret{position: absolute;top:19px;line-height: 0;font-size: 0;border-top: solid transparent 6px;border-bottom: solid transparent 6px;}
.webim_dia_bg .dia_caret b{position: absolute;top:-6px;border-top: solid transparent 6px;border-bottom: solid transparent 6px;}
.webim_dia_l .dia_caret{border-right: solid #a1c8dd 6px;left:-7px;}
.webim_dia_l .dia_caret b{border-right: solid #dfeaf0 6px;left:1px;}
.webim_dia_r .dia_caret{border-left: solid #e8e8e8 6px;right: -7px;}
.webim_dia_r .dia_caret b{border-left: solid #f6f6f6 6px;right:1px;}
.webim_dia_cont{font-size: 14px;padding: 10px 28px;line-height: 25px;color: #000000;}
