@charset "utf-8";

.bdt1{border-top: solid #e9e9e9 1px;}
.media-placeholder{color:#fff;font-size:16px;height:416px;text-align:center;line-height:700px;overflow:hidden;background: #a0c9db url("../images/video-transform-type.png") no-repeat 50% 50%;*background-position: 50% 180px;}
/*left nav*/
.col-left{float:left;width:187px;}
.sidebar{width:187px;}
.sidebar.affix-bottom{position: absolute;bottom:100px;top: auto;z-index: 4;}
.sidebar.affix{top:60px;z-index: 4;}
.sidenav{list-style: none;margin: 0;padding-bottom: 40px;}
.sidenav li{display: block;font-size: 0;}
.sidenav li .dt{*vertical-align: middle;font-size:14px;display: inline-block;width:35px;border-right:solid #dcdcdc 1px;padding: 20px 0 20px 10px;margin-right:10px;position: relative;}
.sidenav li:last-child .dt{padding-bottom: 0;}
.sidenav li:last-child .dt > b{top:auto;bottom: -2px;margin-top: 0;}
.sidenav li .dt > b{position: absolute;right: -1px;top: 50%;margin: -10px -10px 0 0;}
.sidenav li.nav-hd .dt{margin-right: 20px;padding: 30px 0 30px 10px;}
.sidenav li.nav-hd .dt > b{text-align: center;line-height: 30px;font-weight: normal;margin: -15px -15px 0 0;}
.sidenav li .name{font-size: 14px;*vertical-align: middle;}
.sidenav li .name i{vertical-align: middle;}
.sidenav li.active .name i{   -ms-background-position-x: right;  background-position-x: right; }
.sidenav li > a{display:block; color: #999999;white-space: nowrap;overflow: hidden}
.sidenav .disabled > a{opacity: .5;filter:alpha(opacity=50)}
.sidenav li.active a{background-color: #4491bb;color: #FFFFFF;}
.sidenav li .popover-content{font-size: 14px;color: #999999;}
.leftBox {padding: 12px 20px;}
.leftBox a{line-height: 34px;color: #000000}
.leftBox a > i{margin-right: 12px;}


/*right content*/
.col-right{margin-left:210px;width:790px;min-height: 500px;overflow: hidden;}
.icon-chevron-lg-left,.icon-chevron-lg-right{background-image: url("../images/icon-courseLearn.png");width: 24px;height: 24px;}
.icon-chevron-lg-left{background-position: 0 0;}
.icon-chevron-lg-right{background-position: -24px 0;}
.disabled .icon-chevron-lg-left{background-position: -48px 0;}
.disabled .icon-chevron-lg-right{background-position: right 0;}
.page-header{padding-bottom: 0;border-bottom: none;margin: 0;overflow: hidden;}
.page-header.affix{overflow: visible}
.page-header .hd{margin: 20px 0;font-size: 0;}
.page-header .bd{margin-bottom: 20px;}
.page-header .hd>.btn{width:70px;height:48px;border-bottom: solid #dcdcdc 2px;padding:10px 0 0;background-color: #fff;float: left;margin-right: 5px;}
.page-header .hd> .btn .icon-disc-lg-bg{margin-top: 2px;text-align: left;}
.page-header .hd> .btn span{display: block;font-size: 12px;color: #4491bb;}
.page-header .hd> .btn.disabled{}
.page-header .hd> .btn.disabled span{color: #9a9a9a;}
.page-header h1{font-size:16px;font-weight:normal;line-height:36px;text-align:center;border-bottom: solid #dcdcdc 2px;
    background-color: #fff;height:36px;margin:0 5px 0 0;padding:12px 0 10px;width:640px;float: left;}
.page-header h1 .btn{padding: 7px 12px;vertical-align: top;margin-left: 5px;}
.page-header h1 .btn-success{}
.page-header h1 a.tit{color: #000000;}
.page-header h1 a.tit:hover{text-decoration: underline;}
.page-header .hd>h1 + .btn{margin-right: 0;}
.page-header.affix{width: 790px;z-index: 3;}
.page-header.affix .hd{margin:0;background-color: #FFFFFF;border: solid #4491bb 1px;}
.page-header.affix .bd{margin-bottom: 0;}
.page-header.affix .btn,.page-header.affix h1{border-bottom: none}
.page-header.affix h1{width: 638px;}
.page-body{overflow: hidden}
/*.labelPass{position: relative;margin-left:15px;display: inline-block;font-size: 0;}
.labelPass .caret{position: absolute;left: -6px;top:0;border-right:solid #33ac60 6px;border-left: none; border-bottom: solid transparent 6px;border-top: none; }
.labelPass .iconWrap{background-color:#33ac60;height: 20px;padding: 2px 2px 3px; position: absolute;left: 0;top:0;}
.labelPass .tit{line-height: 23px;margin-left:24px;height: 23px;display: block;border: solid #33ac60 1px;padding: 0 8px;font-size: 12px;color: #FFFFFF;background-color: #30c66c;}
.labelPass.disabled .caret{border-right-color:#b0b0b0;}
.labelPass.disabled .iconWrap{background-color:#b0b0b0; }
.labelPass.disabled .tit{border-color:#b0b0b0; background-color:#bdbdbd;}*/
.listIntro{list-style: none;margin: 0}
.listIntro li{display: block;line-height:26px;}
.listIntro li + li{border-top: solid #e5e5e5 1px;}
.listIntro li .line{margin-left: 37px;border-left: solid #b8d6e5 1px;}
.listIntro li .line .line{margin-left: 5px;padding: 10px 18px;}
.listIntro li .line .line small{color: #666666}
.label-intro{background-color: #f0f0f0;padding: 3px 16px;color: #61a3c6;margin-right: 12px;}

/*测试页*/
.page-header .bd .examPaperStat{background-color: #4491bb;padding: 15px 0;text-align: center;color: #ffffff;position: relative;}
.examPaperStat .dt,.examPaperStat .showList{position: absolute;top: 15px;color: #ffffff}
.examPaperStat .dt{left: 20px;}
.examPaperStat .showList{right: 20px;}
.examPaperStat .showList .caret{margin-left:4px;vertical-align: middle;border-top:none;border-bottom: solid #ffffff 6px;border-left-width: 6px;border-right-width:6px;}
.examPaperStat .showList.collapsed .caret{border-top: solid #ffffff 6px;border-bottom: none;}
.examPaperStat .showList.collapsed .txtShow,.showList .txtHide{display: inline;}
.examPaperStat .showList.collapsed .txtHide,.showList .txtShow{display: none;}
/*#navExams .collapse-inner{padding:23px 26px 7px 33px;background-color: #ffffff;border: solid #dcdcdc 1px;}*/
#navExams {padding:6px 20px 0;}
#navExams .num{display: inline-block;margin: 0 9px 16px 0;width: 18px;height: 18px;line-height:18px;font-family:Arial; color:#ffffff;text-align:center; border: solid #acacac 1px;background-color: #cdcdcd;}
#navExams .num.active{border-color: #4491bb;background-color: #99bbd7;position: relative;}
#navExams .num i{position: absolute;right: -6px;top: -6px;}
.listExamPaper{margin: 10px 0 50px;overflow: hidden;}
.listExamPaper>li, .titBar{display: block;}
.titBar.hide{display: none;}
.listExamPaper>li{margin-top: 10px;background-color: #ffffff;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; border:none;border-bottom: solid #dcdcdc 2px;}
.listExamPaper>li>a:hover{background-color: #eff4f7; }
.listExamPaper li .titBar{padding: 15px 30px 20px;position: relative;background-color: #f9f9f9;}
.listExamPaper li .titBar h2,.listExamPaper .accordion-inner .hd h2{color: #000000;font-size: 14px;line-height:30px;font-weight: normal;margin: 0;}
.listExamPaper li .titBar p{margin-bottom: 0;}
.listExamPaper li .titBar .icon-state-bg{position: absolute;right: 30px;top: 25px;}
.listExamPaper li .titBar .icon-pencil{position: absolute;display:none;right: 80px;top: 30px;}
.listExamPaper li .titBar:hover .icon-pencil{display:block;}
.listExamPaper .accordion-inner .hd{padding: 15px 20px 1px;margin-bottom:10px;border-bottom: dashed #cdcdcd 1px;}
.listExamPaper .accordion-inner .hd h2{margin-bottom: 10px;}
.listExamPaper .accordion-inner .hd h2 .icon-state-bg{margin-right: 5px}
.listExamPaper .accordion-inner .hd p{font-size: 12px; }
.listExamPaper .accordion-inner{border-top: none;padding: 0;}
.listExamPaper .accordion-inner form{margin-bottom: 0;}
.listExamPaper .accordion-inner .bd{margin: 0 20px 20px;border: solid #e9e9e9 1px;}
.listExamPaper .accordion-inner .ft{text-align: center;margin: 20px 0;position: relative;}
.listExamPaper .accordion-inner .btn-link{position: absolute;right: 0;top: 5px;}
.listExamPaper .accordion-inner .btn-link .caret{border-bottom: solid #4491bb 8px;margin-left:6px;border-top: none;border-left-width: 7px;border-right-width: 7px;}
.listExamPaper .accordion-inner .hd .btn-link{top: 15px;}
.listExamPaper .listExam{margin: 0 20px 20px;}
.listExamPaper .listExam .examStem{font-weight: normal;padding: 20px 0;}
.listExamPaper .listExam .examStem .line{padding: 2px 30px;border-bottom: solid #cccccc 1px;}
.listExamPaper .listExam .examStem .line label{cursor: pointer;}
.listExamPaper .listExam dd + .examStem{border-top: dashed #cdcdcd 1px;margin-top: 20px;}
.listExamPaper .listExam dd{margin-left: 0;padding-bottom: 1px;}
.listExamPaper .listExam dd label{}
.listExamPaper .listExam dd label.radio,.listExamPaper .listExam dd label.checkbox{padding-top: 6px;padding-bottom: 6px;padding-left: 30px;cursor: pointer}
.listExamPaper .listExam dd label.radio:hover,.listExamPaper .listExam dd label.checkbox:hover{background-color: #d2e0e8;}
.listExamPaper .listExam dd label.input{position: relative;margin-left: 12px;margin-bottom: 12px;}
.listExamPaper .listExam dd label.input .icon-circle-bg{position: absolute;left: -10px;top: 12px;}
.listExamPaper .listExam dd label.input .input-xxlarge{padding: 11px 22px;width: 647px;}
.listExamPaper .listExam dd label label.error{}
.listExamPaper .attachList{padding: 5px 18px;margin:10px 0;}
.listExamPaper .listExam dd .attachList{border: solid #e9e9e9 1px;margin-bottom: 20px;}
.listExamPaper .attachList li{padding: 11px 0;position: relative;display: block}
.listExamPaper .attachList li a{color: #666;}
.listExamPaper .attachList li a i{margin-right: 5px;}
.listExamPaper .attachList li .icon-remove-blue{position: absolute;right: 30px;top: 11px;}
.listExamPaper .teacherRating{margin: 10px 0;}
.listExamPaper .teacherRating .pull-left>a{display: block;}
.listExamPaper .teacherRating .pull-left>a>img{width: 50px;height: 50px;margin: auto}
.listExamPaper .teacherRating .pull-left>h3{margin:0;font-size: 12px;color: #666;font-weight: normal;}
.listExamPaper .teacherRating .media-heading{margin-bottom: 10px;}
.listExamPaper .teacherRating .media-body{line-height: 25px}
.listExamPaper textarea{margin-top: 15px;}
.list-attachment{margin: 20px 0;}
.list-attachment li{border:solid #e4e4e4 1px;background-color: #eff4f7;display: block;*margin-bottom:-3px;min-height: 58px;position: relative;overflow: hidden}
.list-attachment li + li{border-top: none;}
.list-attachment li.sortable-placeholder{border:dashed #4391bb 1px;}
.list-attachment li:hover{background-color: #eff4f7;}
.list-attachment li .state-dragable{left:18px;top:22px;}
.list-attachment li .name{margin: 19px 58px 0 0;padding-left: 60px;color:#000000;display: block;position: relative;z-index: 0;}
.listExamPaper .list-attachment li .name{padding-left: 20px;}
.list-attachment li .name input[type="text"]{display: block;width: 610px;margin-top: -7px;}
.list-attachment li .name .action-btn{position: absolute;right: 0;top:50px;}
.list-attachment li .name label{margin: 20px 0;}
.list-attachment li .item-ctrl{position: absolute;right: 24px;top: 14px;}
.list-attachment li .item-ctrl label.inline{margin-right: 25px;}
.list-attachment li .item-ctrl .icon-pencil-blue {margin: 5px 15px 0 0;}
.list-attachment li .item-ctrl .icon-remove-blue {margin-top: 5px;}

/* 视频、文档。。。*/
.fs9{font-size:9px;}
.icon-thumbs-up,.icon-thumbs-down,.icon-share-alt,.icon-time,.icon-dialog{width:20px;height:20px;}
.icon-thumbs-up{background-position:right -40px;}
.active .icon-thumbs-up,a:hover .icon-thumbs-up{background-position:right -382px;}
.icon-thumbs-down{background-position:right -60px;}
.active .icon-thumbs-down,a:hover .icon-thumbs-down{background-position:right -402px;}
.icon-share-alt{background-position:right -20px;}
.icon-time{background-position:right -81px;margin:0 6px 0 0;}
.icon-dialog{background-position: right -422px;}
.active .icon-dialog,a:hover .icon-dialog{background-position: right -442px;}
.active .icon-heart-blue,.btn:hover .icon-heart-blue{background-position: right -753px;}
.active .icon-download-blue,.btn:hover .icon-download-blue{background-position: right -777px;}
.icon-heart-blue,.disabled:hover .icon-heart-blue{background-position: 0 -753px;}
.icon-download-blue,.disabled:hover .icon-download-blue{background-position: 0 -777px;}

.section{background-color:#FFF; border-bottom:solid #dcdcdc 2px;margin-bottom:16px;}
.section .hd{height:44px;position:relative;border-bottom:none;}
.section .hd h5{background-color:#f5f5f5;line-height:43px;margin:0;padding-left:70px;border-bottom:solid #e8e8e8 1px;}
.section .hd .tit-icon_bg{background-color:#cbcbcb;position:absolute;top:0;left:0;height:24px;padding:10px 16px;}
.section .hd .pos-right{ right: 20px;top:12px;}
.mediaWrap{padding: 20px 25px 35px;}
.mediaObject{}
.mediaToolbarWrap{}
.mediaToolbar{padding: 10px 25px;position: relative;}
.mediaToolbar .btn-group {}
.mediaToolbar .btn-group .btn{line-height: 24px;padding: 5px 20px 5px 0;margin: 0;}
.mediaToolbar .btn-group .btn i{margin-right: 5px;}
.mediaToolbar .btn-group .btn.disabled{background-color: transparent;}
.mediaToolbar .btn-success{position: absolute;right: 25px;top: 10px;padding: 7px 12px;}
.mediaToolbar .playCount{border-left: solid #dcdcdc 1px;padding: 3px 15px;}
.mediaToolbar .playCount .num{font-size: 18px;font-weight: normal}
.btn .icon-right{background-color: #cccccc;border-radius: 10px;margin-right: 5px;}
.btn-success .icon-right{background-color: #307c48;}
.mediaList{margin: 5px 0 0 -13px;border-top:solid #dcdcdc 1px;padding: 10px 25px 0;}
.mediaList>li>a{width: 60px;background-color: #cccccc;padding: 7px 0;position:relative;margin:0 0 15px 13px;color:#ffffff;text-align:center;border: solid #adadad 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
.mediaList>li>a>i{position: absolute;right: -6px;top: -6px;display: none;}
.mediaList>li>a:hover{background-color: #adadad;}
.mediaList>.pass>a,.mediaList>.pass>a:hover{background-color: #a1c8dd;border-color: #83b2ce;}
.mediaList>.active>a,.mediaList>.active>a:hover{background-color: #4491bb;border-color: #4491bb;}
.mediaList>.pass>a>i{display: block;}
/*.mediaList>.active>a>i{display: none;}*/
.video-info{width:421px;padding-left:24px;line-height:25px;}
.info-rating{margin-right:22px;margin-top: 0;}

.rating{text-align:right;}
.rating .icon-star{width:15px;height:15px;background-position:right -160px;}
.info-rating dd{margin-left:0;height:20px;}
.info-rating dd .span1{width:73px;}
.info-rating dd .span2{width:76px;}
.progress-gray{background-color:#ebebeb;margin:8px 10px 0;}
.progress-gray .bar{background-color:#c2c2c2;height:7px;}
.edit-box{padding:20px;}
.edit-box form{margin: 0}
.edit-box textarea{background-color:#f8f8f8;height:78px;}
.comm-rating{text-align:right;}
.comm-rating > label{margin-left:0;}
.box-rating{padding:6px 0 22px;}
.box-rating .point{margin-right:38px;width:20px;display:inline-block;}
.rating-do{margin:0 2px 0 10px;font-size: 0;}
.rating-do .icon-star{background-position:right -140px;vertical-align:-4px;*vertical-align:0;cursor:pointer;}
.section .hd .pages{position:absolute;right:20px;top:0;}
.pages{padding-top:7px;color:#aaaaaa;}
.pages .span2{line-height:30px;}
.pages .btn-group .btn{border-radius:15px;width:30px;height:30px;padding:0;border-bottom:none;margin-left:8px; -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 3px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);}
.pages .btn-group .btn:hover{background-position:0 -30px;}
.comment-list{margin:20px 20px 0;
    -webkit-transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -ms-transition: height .3s ease-in;
    -o-transition: height .3s ease-in;
    transition: height .3s ease-in;}
.comment-list .media{border-bottom:dashed #e2e2e2 1px;margin-bottom:28px;padding-bottom:10px;}
.comment-list .media > .pull-left{width:45px;height:45px;margin-right:14px;}
.comment-list .media-heading{position:relative;color:#666;font-size:12px;}
.comment-list .media-footing {color:#bbb;font-size:12px;}
.comment-list .media-footing .btns-comt > a{color:#999;margin-left:12px;display:inline-block;}
.btns-comt > a i{margin-right:2px;}
.comment-list .rating-view{position:absolute;right:0;top:0;font-size:13px;}
.comment-list .rating-view
.comt-content{line-height:30px;margin-bottom:30px;}
.comt-content .replyOf{margin:0 0 0 8px;}
.comment-list-bottom{margin:0 20px 20px;}
.form-reply{margin: 12px 0;}
.form-reply textarea{border-color: #71accc}
.form-reply .form-action{text-align: right;}
.form-reply .form-action .btn-group .btn{margin-left: 10px;}

/*证书页*/
.upper{text-transform: uppercase;}
.icon-medal-lg{width: 60px;height: 60px;background-position: 0 -821px;}
.icon-disc-lg-bg .icon-home{margin: 4px 0 0 4px;}
.hd-certificate{}
.hd-certificate .btn{width: 142px;padding-top: 18px;height: 40px;}
.hd-certificate .btn span{display: inline;font-size: 16px;line-height: 24px;}
.hd-certificate h1{width: 633px;}
.hd-certificate .btn-back{float: right;width: 68px;margin-right: 0;}
.hd-certificate .btn-back .icon-disc-lg-bg{margin-top: -6px;}
.box-certificate{padding: 0 70px;}
.box-certificate .hd{overflow: hidden}
.box-certificate .hd h2{font-weight: normal; font-size: 20px;text-align: center;margin: 30px 0;}
.box-certificate .bd .media{margin-left: 10px;}
.box-certificate .bd .media > .pull-left{margin: 0 57px 20px 0;width:184px;position: relative}
.box-certificate .bd .media > .pull-left i{position: absolute;right: -20px;bottom: -20px;}
.box-certificate .bd .media-object{width: 156px;height: 156px;padding: 13px;}
.box-certificate .bd .media-body{font-size: 16px;}
.box-certificate .bd .media-body p{line-height: 32px;}
.box-certificate .bd .media-body p.muted{text-align: right;font-size: 14px;}
.box-certificate .bd .media-body em{font-style: normal;color: #4391bb;}
.box-certificate .bd .media-heading{border-bottom: dashed #b8b8b8 1px;margin-bottom:20px;padding: 10px 0 20px;}
.box-certificate .ft{text-align: right;margin: 34px 0;}